[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
transformers = "*"
spacy = "*"
ftfy = "==4.4.3"
uvicorn = "*"

[requires]
python_version = "3.7"
